<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar</title>
</head>
<body>

    
     
    <form action="http://localhost:3000/admin/editMovie/<%=pelicula.peliculaEncontrada._id%>"  method="POST">

        <input type="text" id="title" name="title" value="<%=pelicula.peliculaEncontrada.title%>">
        <input type="text" id="image" name="image" value="<%=pelicula.peliculaEncontrada.image%>">
        <input type="text" id="year" name="year" value="<%=pelicula.peliculaEncontrada.year%>">
        <input type="text" id="director" name="director" value="<%=pelicula.peliculaEncontrada.director%>">
        
        <input type="submit" value="Actualizar"> 
    </form>
    

  
    
<footer style="background-color: blueviolet; height: 200px;">
    <h2>
        soy el footer queloque
    </h2>
</footer>

</body>
</html>