<%- include('templates/header.ejs') %>


<h1> <%= detalles.title %> </h1>  
<p> <b>Año:</b>  <%=detalles.year %> </p>
<p> <b>Director:</b> <%= detalles.directors %></p>
<p> <b> Genero:</b><%= detalles.genres %></p> 
<p> <b>Duracion:</b> <%=detalles.runtimeStr  %></p>
<p> <b>Sinopsis:</b> <%= detalles.plot %></p>
<p> <b>Reparto:</b> <%= detalles.stars %></p>
<p> <b>Rating:</b> <%= detalles.imDbRating %></p>

<img class="img-mini" src="<%= detalles.image %>" alt="portada de la película">


<%- include('templates/footer.ejs') %>